.wrapper {
  display: grid;

  grid-template-areas:
  "b t"
  "f f";

/*  grid-template-rows: 60px 1fr;*/
  grid-template-columns: 70% 30%;
}

.buttons {
  grid-area: b;
/*  background-color: red;*/
}

.field {
  grid-area: f;
/*  background-color: green;*/
}

.typography {
  grid-aria: t;
  /*background-color: blue;*/
}